body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 100vh; /* Mantém a proporção 9:16 em telas largas */
  height: auto;
  aspect-ratio: 9 / 16; /* Garante a proporção 9:16 */
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
