/* Remove margens e preenche toda a tela */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Container do vídeo que ocupa toda a tela */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* O iframe ocupa 100% da largura e altura */
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
